section#contact
  //- each footertxt in records.footer.footeritems
  //-   != footertxt.html
  .container
    .row
      .col-md-4.col-sm-6.wow.fadeInLeft.delay-02s
        h5.widget-title Our Office
        address
          .feature-box.margin-bottom-none.style-3
            .icon-wrapper
              i.fa.fa-map-marker
            .inner-wrapper
              p.feature-description Address:<br>megstudios.com <br> No. 12, Ribbon Building,  Walse street,<br>Australia - 30001.
          .feature-box.margin-bottom-none.style-3
            .icon-wrapper
              i.fa.fa-phone
            .inner-wrapper

              p.feature-description  Phone: +0 (123) 456-78-90
          .feature-box.margin-bottom-none.style-3
            .icon-wrapper

              i.fa.fa-envelope
            .inner-wrapper

              p.feature-description Email:
                a.text-light.text-color-hover(href='mailto:info@website.com')
                  |  support@megstudios.com

      .col-md-3.col-sm-6.col-md-offset-1.wow.fadeInLeft.delay-02s
        h5.widget-title Quick Links
        ul
          li
            a(href="/") Home
          li
            a(href="/about-us") About Us
          li
            a(href="/services/our-services") Services
          li
            a(href="/featuredwork/featured-work") Works
          li
            a(href="/news-list") News
          li
            a(href="/contact-us") Contact
      .col-md-4.col-sm-6.wow.fadeInLeft.delay-02s
        h5.widget-title EMAIL NEWSLETTER
        p Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:
        form.input-group
          .row
            .input-field.form-group
              input#email.validate(type='email', placeholder='Email')

            span.input-group-btn
              button(class="btn btn-default", type="submit")
                i(class="material-icons") forward
        p.white-text FOLLOW US ON:
        ul.social-icons
          li
            a(href="#", class="waves-effect  grey darken-3")
              i.fa.fa-facebook
          li
            a(href="#", class="waves-effect  grey darken-3")
              i.fa.fa-twitter
          li
            a(href="#", class="waves-effect  grey darken-3")
              i.fa.fa-linkedin
          li
            a(href="#", class="waves-effect  grey darken-3")
              i.fa.fa-google-plus
  .container.footer
      .row
        .col-lg-12
          p= records.site.sitedata[0].footer