br
div.addthis_sharing_toolbox
div#disqus_thread

<!-- Go to www.addthis.com/dashboard to customize your tools -->
script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5649872fe25f3750")
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
script(id="dsq-count-scr", src="//businesstpl.disqus.com/count.js", async)