extends layout

block content
	.main-continer
		.container
			.row.wow.fadeInUp
				.col-md-8.row#main-content
					form(name='contact-form', method='POST', action='thank-you-page', netlify='netlify')
						input(type='hidden', name='subject', value='Online Enquiries')
						.row
							.input-field.col.s12.m6
								input#first_name.validate(type='text', name='first name', required='required')
								label(for='first_name')
									| First Name
									sup.materialize-red-text *
							.input-field.col.s12.m6
								input#last_name.validate(type='text', name='last name', required='required')
								label(for='last_name')
									| Last Name
									sup.materialize-red-text *
						.row
							.input-field.col.s12.m6
								input#phone.validate(type='text', name='contact no')
								label(for='phone') Contact No.
							.input-field.col.s12.m6
								input#email.validate(type='email', name='replyto', required='required')
								label(for='email')
									| Email
									sup.materialize-red-text *
						.row
							.input-field.col.s12
								input#address.validate(type='text', name='address')
								label(for='address') Address
						.row
							.input-field.col.s12
								textarea#message.materialize-textarea(name='message')
								label(for='message') Message
						.row
							.input-field.col.s12
								button.btn-large.waves-effect.weves-light(type='submit', value='Submit', name='Submit') Submit

				.col-md-4#right-sidebar
					include ./includes/_sidebar