section#contact
	.container
		.row
			.col-md-4.col-sm-6.wow.fadeInLeft.delay-02s
				h5.widget-title Our Office
				address
					.feature-box.margin-bottom-none.style-3
						.icon-wrapper
							i.fa.fa-map-marker
						.inner-wrapper
							p.feature-description Address:<br>megstudios.com <br> No. 12, Ribbon Building,  Walse street,<br>Australia - 30001.
					.feature-box.margin-bottom-none.style-3
						.icon-wrapper
							i.fa.fa-phone
						.inner-wrapper

							p.feature-description  Phone: +0 (123) 456-78-90
					.feature-box.margin-bottom-none.style-3
						.icon-wrapper

							i.fa.fa-envelope
						.inner-wrapper

							p.feature-description Email:
								a.text-light.text-color-hover(href='mailto:info@website.com')
									|	support@megstudios.com

			.col-md-3.col-sm-6.col-md-offset-1.wow.fadeInLeft.delay-02s
				h5.widget-title Quick Links
				ul
					li
						a(href="/") Home
					li
						a(href="/about-us") About Us
					li
						a(href="/services") Services
					li
						a(href="/works") Works
					li
						a(href="#") News
					li
						a(href="/contact-us") Contact
					li
						a(href="#") Terms & Conditions
					li
						a(href="#") Privacy
			.col-md-4.col-sm-6.wow.fadeInLeft.delay-02s
				h5.widget-title EMAIL NEWSLETTER
				p Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:
				form.input-group
					.row
						.input-field.form-group
							input#email.validate(type='email')
							label(for='email', data-error='wrong', data-success='right') Email
						span.input-group-btn
							button(class="btn btn-default", type="submit")
								i(class="material-icons") forward
				p.white-text FOLLOW US ON:
				ul.social-icons
					li
						a(href="#", class="waves-effect  grey darken-3")
							i.fa.fa-facebook
					li
						a(href="#", class="waves-effect  grey darken-3")
							i.fa.fa-twitter
					li
						a(href="#", class="waves-effect  grey darken-3")
							i.fa.fa-linkedin
					li
						a(href="#", class="waves-effect  grey darken-3")
							i.fa.fa-google-plus
	.container.footer
			.row
				.col-lg-12
					p Copyright © 2014 Meg Studios - by WebriQ Themes




script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")

!= js()
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
script(src="../js/jquery.isotope.min.js")
script(src="../js/jquery.isotope.sloppy-masonry.min.js")
script(src="../js/wow.js")
script(src="../js/jquery-scrolltofixed.js")
script(src="../js/cbpBGSlideshow.min.js")
script(src="../js/lazyloader.js")
script(src="../js/custom.js")
