nav#test.main-nav-outer
	.container
		ul.main-nav
			li
				a(href='/') Home
			li
				a(href='/services') Services
			li
				a(href='#client_outer') Clients
			li.small-logo
				a(href='#header')
					img(src='../img/small-logo2.png', alt='')
			li
				a(href='#news') News
			li
				a(href='#partners') Partners
			li
				a(href='/contact-us') Contact
		a.res-nav_click(href='#')
			i.fa-bars