extends layout

block content
  //- article.box.post
  //-   div.image.featured(style={"background-image": "url(" + entry.banner + ")"})
  //-   header
  //-     h2= entry.title
  //-     p= entry.shortdesc
  //-   != entry.body

  .main-continer
    .container
      .row.wow.fadeInUp
        .col-md-12.row#main-content
          h2.title-header List of News
          each newss in news.sort('date', 'asc')
            div.content-list
              h5.title-header= newss.title
              div.content-body
                p= newss.shortdesc
                p.right-align.read-more
                  a.btn.waves-effect.waves-light(href= newss.permalink) Read More
        //- .col-md-4#right-sidebar
        //-   include ./includes/_sidebar