extends layout

block content
	.main-continer
		.container
			.row.wow.fadeInUp
				.col-md-12.row#main-content
					h2.title-header= entry.title
					!= entry.body
				//- .col-md-4#right-sidebar
				//- 	include ./includes/_sidebar