h4 Right Side Bar

.row.wow.fadeIn.delay-02s
	.card.medium
		.card-image
			img(src='../img/sample-1.jpg')
			span.card-title Card Title
		.card-content
			p
				| I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
		.card-action
			a(href='#') Read More


.row.wow.fadeIn.delay-03s
	.card.blue-grey.darken-1
		.card-content.white-text
			span.card-title Card Title
			p
				| I am a very simple card. I am good at containing small bits of information. <br>I am convenient because I require little markup to use effectively.
		.card-action
			a(href='#') Read More

.row.wow.fadeIn.delay-04s
	.card-panel.teal
		span.white-text
			|	I am a very simple card. I am good at containing small bits of information.<br>I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.





