include header

body

	include header-bottom

	.main-continer
		.container
			.row
				.col-md-8.row#main-content
					block content
				.col-md-4#right-sidebar
					include right-sidebar




	include footer
