@import '_settings'

//normalize-css()

base()

body
	padding: 0px
	font: 14px/1.6 $open-sans
	font-weight:normal
	color:#888888
	margin:0
	background:#fff


body
	background:#fff
	font-family: 'Open Sans', sans-serif
	font-size:14px
	font-weight:normal
	color:#888888
	margin:0

figure
	margin:0px auto !important

section#news h6
	margin-bottom:30px

section
	background-color:#fff

ul#partner-list li
	float:left
	margin:5px
	border:1px solid #eee

#partners
	background: url(../img/bg-partners.jpg) left top
	background-size:contain
	padding:90px 0 110px

.feature-box .icon-wrapper,
.feature-box .inner-wrapper
	display:table-cell
	vertical-align:top

.feature-box .icon-wrapper
	width:25px

#contact
	background-color:#222
	padding:90px 0 0px
	color:#fff

#contact a
	color:#fff
	font-weight:300

#contact .container .row .col-sm-6
	margin-bottom:20px

.input-field.form-group,
.input-group-btn
	display: table-cell

.input-field em
	font-style:normal

.content-list
	padding-top:15px
	padding-bottom:15px
	border-bottom:1px solid #eee


.content-list .content-body .right-align
	padding-top:10px

form.input-group
	width: 100%
	margin-top: 15px

form.input-group .input-field input
	margin:0px

form.input-group .input-group-btn button
	height:100%


.widget-title
	color:#fff
	margin-bottom:40px !important

.main-continer .title-header
	text-align:left

ul.social-icons
	margin-top:10px
ul.social-icons li
	text-align:center
	width:40px
	height:40px
	line-height:2.8
	overflow:hidden
	float:left
	margin-right:5px
ul.social-icons li a
	display:block
	border: 1px solid #424242
	border-radius:4px
	-webkit-border-radius:4px

.read-more
	margin-top:15px


.read-more .btn
	margin-top:15px
	padding:0px 1rem

.card time
	display:block
	margin-top:10px
	text-transform:uppercase
	font-weight:600
.card .card-reveal time
	margin-bottom:10px

/* CSS Document */


/* Float Elements
---------------------------------*/
.fl-lt
	float:left
.fl-rt
	float:right

/* Clear Floated Elements
---------------------------------*/
.clear
	clear: both
	display: block
	overflow: hidden
	visibility: hidden
	width: 0
	height: 0


.clearfix:before,
.clearfix:after
	content: '\0020'
	display: block
	overflow: hidden
	visibility: hidden
	width: 0
	height: 0


.clearfix:after
	clear: both


.figure
	margin:0px

img
	max-width:100%

a, a:hover, a:active
	outline:0px !important


/* Primary Styles
---------------------------------*/


h2
	color:#222222
	font-family: 'Montserrat', sans-serif
	font-weight:700
	letter-spacing: -1px
	margin:0 0 15px 0
	text-align:center
	text-transform:uppercase

h5
	font-family: 'Montserrat', sans-serif
	color:#22222
	margin:0 0 5px 0 !important
	text-transform:uppercase
	font-weight:400

h6
	color:#888888
	font-family: 'Montserrat', sans-serif
	font-weight:400
	text-align:center
	margin:0 0 60px 0

p
	line-height:24px
	margin:0


.main-continer .container
	padding:40px 15px
	margin-top:3em;

.main-continer .container p
	margin:0px 0px 10px



/* Header Styles
---------------------------------*/

.header
	text-align:center
	padding:100px 0

.header .container ul li,.header .container h1
	color:#fff
	text-shadow:2px 1px 1px #222
	-webkit-text-shadow:2px 1px 1px #222

.header::before
	content: ""
	width:100%
	top:0px
	left:0px
	height:100%
	background:url(../img/bg3.png) left top repeat
	position:absolute
	z-index: 0

.logo
	width:130px
	margin:0 auto 35px

.header h1
	font-family: 'Montserrat',sans-serif
	font-size: 4.2rem
	font-weight:400
	letter-spacing: -1px
	margin:0 0 22px 0
	color:#fff


.we-create
	padding:0
	margin:35px 0 55px

.we-create li
	display:inline-block
	font-family: 'Montserrat',sans-serif
	font-size:14px
	color: #bcbcbc
	text-transform: uppercase
	font-weight: 400
	margin:0 5px 0 0
	padding:0 0 0 15px

.we-create li:first-child
	background:none



.link
	padding:15px 35px
	background:#7cc576
	color:#fff !important
	font-size:16px
	font-weight:400
	font-family: 'Montserrat', sans-serif
	display:inline-block
	border-radius:3px
	text-transform:uppercase
	line-height:25px
	margin-bottom:20px
	transition:all 0.3s ease-in-out
	-moz-transition:all 0.3s ease-in-out
	-webkit-transition:all 0.3s ease-in-out

.link:hover
	text-decoration:none
	color:#7cc576 !important
	background:#fff


.link:active, .link:focus
	background: #7cc576
	text-decoration:none
	color:#fff !important


/* Navigation
---------------------------------*/
.main-nav-outer
	padding:0px
	border-bottom:1px solid #dddddd
	box-shadow:0 4px 5px -3px #ececec
	position:relative
	background:#fff

.main-nav
	text-align:center
	margin: 0px
	padding:0
	list-style:none

.main-nav li
	display:inline
	margin:0 1px

.main-nav li a
	display:inline-block
	color:#222222
	text-transform:uppercase
	font-family: 'Montserrat', sans-serif
	text-decoration: none
	line-height:20px
	margin: 7px 32px
	transition:all 0.3s ease-in-out
	-moz-transition:all 0.3s ease-in-out
	-webkit-transition:all 0.3s ease-in-out

.main-nav li a.active
	color:#26a69a

.main-nav li a:hover
	text-decoration:none


.small-logo
	padding:0 32px


.main-section
	padding:90px 0 110px



/* Services
---------------------------------*/

.service-list
	padding:0 0 0 0
	font-size:14px
	margin-bottom:40px

.service-list-col1
	float:left
	width:60px

.service-list-col1 i
	font-style:normal
	font-size:38px
	display:block
	color:#222
	font-family: 'FontAwesome'
	line-height:38px

.service-list-col2
	overflow:hidden

.main-section.alabaster
	background:#fafafa


/* Featured Work
---------------------------------*/

.featured-work
	font-size:14px

.featured-work h2
	text-align:left

.featured-box
	padding:0 0 0 0
	margin-bottom:25px
	font-size:14px

.featured-box h3
	margin-bottom:5px

.featured-box p
	line-height:22px

.featured-work p.padding-b
	padding-bottom:35px

.featured-box-col1
	width:60px
	float:left

.featured-box-col1 i
	display:block
	line-height:38px
	font-family: 'FontAwesome'
	font-size:38px
	color:#777777
	font-style:normal

.featured-box-col2
	overflow:hidden

.featured-box.magic
	background:url(../img/magic.png) left top no-repeat

.featured-box.packaged
	background:url(../img/packaged.png) left top no-repeat

.featured-box.seo
	background:url(../img/seo.png) left top no-repeat


/* Happy Clients
---------------------------------*/



#client_outer, #news
	padding:90px 0 110px

.client_area
	 width:960px
	margin:0px auto


.client_section
	padding:35px 0 0 0

.client_section.btm
	padding:20px 0 0 0


.client_profile
	float:left
	text-align:center

.client_profile.flt
	float:right

.client_profile_pic
	border-radius:50%
	border:2px solid #f5f5f5
	margin:0 0 15px 0
	width:220px
	height:220px

.client_profile_pic img
	border-radius:50%
	border:3px solid #f5f5f5

.client_profile h3
	font-size:18px
	color:#49b5e7
	margin:0 0 0 0


.client_profile span
	display:block
	font-size:16px
	color:#888888

.quote_section
	width:648px
	background:#f9f9f9
	position:relative
	padding:40px 30px
	float:left
	margin:35px 0 0 30px

.quote_section.flt
	float:left

.quote_section p
	font-style: italic
	font-size:16px
	font-weight: 300
	color:#888888
	text-align:center
	position:relative

.quote_section p b
		display: inline-block
		font-size: 22px
		left: -9px
		position: relative
		top: -8px

.quote_section p small
	display: inline-block
	right: -9px
	position: relative
	top:4px

.quote_arrow
	position:absolute
	background:url(../img/quote_arrow.png) no-repeat left top
	width:23px
	height:25px
	left:-22px
	top:50%
	margin-top:-15.5px

.quote_arrow2
	background:url(../img/quote_arrow2.png) no-repeat right top
	position:absolute
	width:23px
	height:25px
	right:-22px
	top:50%
	margin-top:-15.5px


/* Footer
---------------------------------*/


.res-nav_click
	line-height:30px !important
	font-family: 'FontAwesome'
	font-size:38px !important
	text-decoration: none !important
	color:#777777
	font-style:normal
	display:none
	width:42px
	height:27px
	margin:20px auto
	transition:all 0.3s ease-in-out
	-moz-transition:all 0.3s ease-in-out
	-webkit-transition:all 0.3s ease-in-out


.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus
	color: #26A69A !important



/* LazyLoader
---------------------------------*/
.isotope,
.isotope .isotope-item
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s
	-moz-transition-duration: 0.8s
	-ms-transition-duration: 0.8s
	-o-transition-duration: 0.8s
	transition-duration: 0.8s


.isotope
	-webkit-transition-property: height, width
	-moz-transition-property: height, width
	-ms-transition-property: height, width
	-o-transition-property: height, width
	transition-property: height, width


.isotope .isotope-item
	-webkit-transition-property: -webkit-transform, opacity
	-moz-transition-property:    -moz-transform, opacity
	-ms-transition-property:     -ms-transform, opacity
	-o-transition-property:      -o-transform, opacity
	transition-property:         transform, opacity

.lazy-wrapper
	clear: both
	padding: 20px 0
	position: relative!important
	box-sizing: content-box!important
	-moz-box-sizing: content-box!important
	-webkit-box-sizing: content-box!important
	-ms-box-sizing: content-box!important
	-o-box-sizing: content-box!important

.lazy-wrapper.hasmore
	padding-bottom: 104px!important

.lazy-more-wrapper
	position: absolute
	bottom: 0
	padding: 20px 0
	display: none
	height: 104px
	width: 100%
	text-align: center
	clear: both
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	-ms-box-sizing: border-box
	-o-box-sizing: border-box


.lazy-wrapper .lazyItem .card
	margin:0px


.lazy-wrapper .lazyItem
	margin: 5px
	background: #fff
	border-radius: 4px
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	-ms-border-radius: 4px
	-o-border-radius: 4px
	width:275px
	padding:0px

.lazy-wrapper .lazyItem:not(.loaded)
		visibility: hidden

.lazy-wrapper.loaded
	padding: 20px 0
	background: none

.lazy-wrapper.loading
		background: url("../img/loading.gif") no-repeat center bottom

.lazy-wrapper.loading-first
	background: url("../img/loading.gif") no-repeat center 50px

.lazy-wrapper.loaded .lazyItem
	visibility: visible

.lazyContent
	padding:5px 0px


.lazyItem img

	width:100%
	height:auto

.lazy-blog .lazyContent img
	float: left
	margin-right: 20px

.lazy-blog .lazyContent .label
	margin-right: 10px
	font-weight: normal



/* Animation Timers
---------------------------------*/
.delay-02s
	animation-delay: 0.2s
	-webkit-animation-delay: 0.2s

.delay-03s
	animation-delay: 0.3s
	-webkit-animation-delay: 0.3s

.delay-04s
	animation-delay: 0.4s
	-webkit-animation-delay: 0.4s


.delay-05s
	animation-delay: 0.5s
	-webkit-animation-delay: 0.5s

.delay-06s
	animation-delay: 0.6s
	-webkit-animation-delay: 0.6s


.delay-07s
	animation-delay: 0.7s
	-webkit-animation-delay: 0.7s

.delay-08s
	animation-delay: 0.8s
	-webkit-animation-delay: 0.8s


.delay-09s
	animation-delay: 0.9s
	-webkit-animation-delay: 0.9s

.delay-1s
	animation-delay: 1s
	-webkit-animation-delay: 1s

.delay-12s
	animation-delay: 1.2s
	-webkit-animation-delay: 1.2s



/* ==========================================================================
	 Media Queries
	 ========================================================================== */


@media only screen and (min-width: 980px) and (max-width: 1200px)

	#work_outer
		background-size:450px
		padding:40px 0px
		background-position:right 230px


@media (max-width:800px)
	.lazy-wrapper .lazyItem
		width:315px

		@media (max-width:680px)
			width:48%

		@media (max-width:480px)
			width:100%



@media only screen and (min-width: 768px) and (max-width: 991px)
	/****Ipad Portrait 768 Container 750 ****/

	#client_outer
		padding:45px 0px
	.quote_section
		width:495px
		margin: 6px 0 0 30px
	.client_area
		width:700px
	.client_profile_pic
		width:150px
		height:150px
	.quote_section.flt
		margin:6px 0 0 0


@media only screen and (max-width: 767px)

	.client_profile_pic
		float:none
		width:150px
		height:150px
		margin:0px auto

	#client_outer
		padding:25px 0px

	.client_profile.flt
		float:none

	.client_profile
		float:none
		margin:0 0 20px 0

	.client_area
		width:436px
	.quote_section
		width:auto
		float:none
	.client-part-haead
		font-size:20px
		line-height:30px


@media only screen and (max-width: 479px)

	.client_area
		width:276px
	.quote_section p
		font-size:15px


@media (max-width:767px)

	#service .row figure
		margin:40px auto 0px auto !important
		clear:both


@media only screen and (min-width: 992px)
	/****Ipad Landscape 1024 Container 970 ****/

	.service-list
		margin-bottom:30px
	.c-logo-part ul li
		margin:0 15px
	.form
		margin:0 0 0 20px
	.main-nav
		display:block !important




@media only screen and (min-width: 768px) and (max-width: 991px)
	/****Ipad Portrait 768 Container 750 ****/
	body
		font-size:13px
	p
		line-height:20px
	.header h1
		font-size:46px
	.main-nav ul li a
		padding:14px
	.small-logo
		padding:0 20px

	.service-list
		margin-bottom:20px
		font-size:15px
	.featured-work p.padding-b
		padding-bottom:15px
	.main-section
		padding:70px 0
	.c-logo-part ul li
		margin:0 1%
		float:left
		width:18%
	.c-logo-part ul li a
		display:block
	.c-logo-part ul li a img
		display:block
	.form
		margin:0
	.main-nav
		display:block !important
	.main-nav li a
		padding:8px 5px
		@media (max-width:1024px)
			margin:7px 10px


@media only screen and (max-width: 767px)
	/****Mobile Landscape 480 Container 100% ****/

	h2
		font-size:30px
	h3
		font-size:28px
	h4
		font-size:24px
	h5, h6
		font-size:18px
		margin-bottom:40px
	p
		line-height:18px
	.service-list
		font-size:12px
		margin-bottom:20px
	.we-create li
		font-size:13px
		padding:0 0 0 8px
	.header h1
		font-size:28px
	.header
		padding:60px 0
	.main-section
		padding:60px 0 70px
	.main-nav
		display:none
		position:absolute
		left:0
		width:100%
		top: 68px
		margin:0 auto
		float: none
		background:#fff
		z-index: 1
	.main-nav li
		display:block
	.main-nav li.small-logo
		display:none
	.main-nav li a
		display:block
		padding:7px 32px
		border-bottom:none
	.main-nav li a:hover
		color: #26A69A
	.res-nav_click
		display:block
	.featured-work
		font-size:13px
		margin-top:30px
	.featured-box
		font-size:13px
	.featured-box p
		line-height:18px
	.c-logo-part ul a
		margin-bottom:5px
	.main-section.team
		padding:60px 0 50px
	.form
		margin:0 30px
	.main-section.contact
		padding:60px 0 70px
	.client-part-haead
		font-size:20px
		line-height:30px
	.link
		font-size:14px
		padding:10px 25px
	.logo
		width:100px
	.main-section.contact
		background-size:contain

@media only screen and (max-width: 479px)
	/****Mobile Portrait 320 ****/
	.header
		padding:40px
	.social-link
		margin-left:0px
	.form
		margin:0
	.c-logo-part ul li
		display:block
