@import '_settings'

normalize-css()
base()

body
  padding: 0px
  font: 14px/1.6 $open-sans

figure
  margin:0px auto

section#news h6
  margin-bottom:30px

ul#partner-list li
  float:left
  margin:5px
  border:1px solid #eee

#partners
  background: url(../img/bg-partners.jpg) left top
  background-size:contain
  padding:90px 0 110px

.feature-box .icon-wrapper,
.feature-box .inner-wrapper
  display:table-cell
  vertical-align:top

.feature-box .icon-wrapper
  width:25px

#contact
  background-color:#222
  padding:90px 0 80px
.input-field.form-group,
.input-group-btn
  display:table-cell

form.input-group
  width: 100%
  margin-top: 15px

.widget-title
  color:#fff
  margin-bottom:40px !important