@import '_settings'

//normalize-css()

base()

body
  padding: 0px
  font: 14px/1.6 $open-sans

figure
  margin:0px auto !important

section#news h6
  margin-bottom:30px

ul#partner-list li
  float:left
  margin:5px
  border:1px solid #eee

#partners
  background: url(../img/bg-partners.jpg) left top
  background-size:contain
  padding:90px 0 110px

.feature-box .icon-wrapper,
.feature-box .inner-wrapper
  display:table-cell
  vertical-align:top

.feature-box .icon-wrapper
  width:25px

#contact
  background-color:#222
  padding:90px 0 80px

#contact a
  color:#fff
  font-weight:300

.input-field.form-group,
.input-group-btn
  display:table-cell

form.input-group
  width: 100%
  margin-top: 15px

.widget-title
  color:#fff
  margin-bottom:40px !important

.main-continer .title-header
  text-align:left

ul.social-icons
  margin-top:10px
ul.social-icons li
  text-align:center
  width:40px
  height:40px
  line-height:2.8
  overflow:hidden
  float:left
  margin-right:5px
ul.social-icons li a
  display:block
  border: 1px solid #424242
  border-radius:4px
  -webkit-border-radius:4px

.read-more
  margin-top:15px


.read-more .btn
  margin-top:15px
  padding:0px 1rem

.card time
  display:block
  margin-top:10px
  text-transform:uppercase
  font-weight:600
.card .card-reveal time
  margin-bottom:10px
